
pulumi
pulumi-aws

# testing packages
docker
pulumi-automation
pytest
pytest-cov
requests
boto3
dotenv
jwt
-e .

# packaging packeges
pre-commit
flake8
black
build
twine

fixture_foundry
psycopg2-binary
